@font-face{
  font-family: champagne;
  src: url(../font/champagne.ttf);
}

@font-face{
  font-family: channelLeft;
  src: url(../font/ChannelLeft.ttf);
}


body{
  font-family: champagne;

}

#login{
  background-color: white;
  width: 50vh;
  height: 30vh;
  border-radius: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 34vh;
  display: none;
}

#login > p {
  text-align: center;
}

#login > form{
  text-align: center;
}

footer{
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 1.5vh;
  font-size: 2vh;
  margin: 0;
  padding: 0;
}

footer>p{
  margin: 0;
  padding: 0;
}

.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  top: 27vh;
  margin: auto;
  width: 40vh;
  height: 40vh;
  border-radius: 1000vw;
  margin-top: 5vh;
  background-position: center;
}

.container{
  padding: 10px;
  width: 70vw;
  max-width: 1200px;
  margin: auto;
  display: none;
}

.Collage{
  padding: 10px;
}


.wrapper > div{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  width: 30vh;
  height: 30vh;
  border-radius: 1000vw;
  margin-top: 5vh;

}

.wrapper > div > div {
  background-color:white;
  width: 15vh;
  height: 30vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}


nav {
  position: absolute;
  top: 12vh;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2.5vh;
}

nav >a {
  display: block;
  text-decoration: none;
  color:black;
  margin: 2vh;
}

h1{
  text-align: center;
font-weight: normal;
font-size: 5vh;
padding-top: 5vh;
margin: 0;
font-family: channelLeft;

}

h2{
  text-align: center;
font-weight: normal;
font-size: 2.5vh;
margin:0;
}

body{
  margin: 0;
  padding: 0;
}

div.background{
  background-image: url(../img/woman.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  border: solid white 50px;
  box-sizing: border-box;
  -webkit-filter:  grayscale(80%) brightness(140%);
  opacity: .8;
  position: absolute;
}
